.hint-page {
  width: 100%;

  &__caption {
    padding-bottom: 10px;
  }

  &__head th {
    padding: 4px 0;
  }

  &__head th:first-child {
    width: 40%;
  }

  &__head th:not(:first-child) {
    width: 20%;
  }

  &__body td {
    padding: 4px 0;
    text-align: center;
  }

  &__body td:first-child:last-child {
    padding: 34px 0;
  }

  &__body_loading {
    filter: blur(4px);
  }

  &__placeholder {
    display: block;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
  }
}